.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.main-body {
  background-color: #ffffff;
  color: #1a202c;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: #e0e7ff;
}

.navbar {
  padding: 1rem 0;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.site-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #0087bf;
}

.auth-buttons a,
.upload-button {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  border-radius: 0.375rem;
  text-decoration: none;
}

.btn-upload,
.upload-button {
  background-color: #0087bf;
  color: white;
}

.btn-upload:hover,
.upload-button:hover {
  background-color: #006a8d;
}

.nav-links {
  list-style: none;
  display: flex;
  margin-top: 1rem;
  padding-left: 0;
}

.nav-links li {
  margin-right: 1.5rem;
}

.nav-links a {
  color: #000;
  text-decoration: none;
}

.nav-links a:hover {
  color: #006a8d;
}

.registration.container,
.login-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f9fafb;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.registration.title,
.login-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  background-color: #0087bf;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #006a8d;
}

.login-link,
.register-link {
  text-align: center;
  margin-top: 1rem;
}

.login-link,
.register-link a {
  color: #0087bf;
  text-decoration: none;
}


.login-link a:hover,
.register-link a:hover {
  color: #006a8d;
}
